<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EasyGift</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="adminpage" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Admin Page
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="Admin, Moderator">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="moderatorpage" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Moderator Page
                </NavLink>
            </div>
        </AuthorizeView>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="partners" Match="NavLinkMatch.All">
                <span class="oi oi-loop" aria-hidden="true"></span> Partners
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gifts" Match="NavLinkMatch.All">
                <span class="oi oi-box" aria-hidden="true"></span> Gifts
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
