@page "/"
@using MudBlazor;
<PageTitle>Home</PageTitle>

<h2>Who are we?</h2>
<MudCarousel Class="mud-width-full" Style="height:200px;" ShowArrows="true" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="true" TData="object">
    <MudCarouselItem Transition="transition" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            <MudText Class="mx-auto my-auto">Easy to use</MudText>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            <MudText Class="mx-auto my-auto">You don't care about gift</MudText>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            <MudText Class="mx-auto my-auto">The receiver will select gift for him/herself</MudText>
        </div>
    </MudCarouselItem>
</MudCarousel>

